PRIVATE_KEY=your_wallet_private_key_here
PHAROS_TESTNET_RPC=https://atlantic.dplabs-internal.com
PHAROS_MAINNET_RPC=https://rpc.pharos.xyz
PHAROSSCAN_API_KEY=your_pharosscan_api_key_optional
TREASURY_ADDRESS=0xYourTreasuryAddressHere
